
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
       background-image: url('https://lh3.googleusercontent.com/pw/AP1GczPbjlOihXwt0xCKZpKX1d2wMdYaiQnlyJwKaIWHM0c9euZfdOVTyto_osdJM_7gLdBD_opDSAmNjQHOBQ4RiJUluPUyHielyp3cQHV4tBImcX9UupJqpOFejPp_ZcWn_LoLaZfLPEQygeeaQ6i-drSY=w959-h1280-s-no?authuser=0'); /* Replace 'background-image.jpg' with your image file path */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .option {
      background-color: rgba(255, 255, 255, 0.8);
      border: 2px solid #3498db;
      border-radius: 12px;
      padding: 20px;
      margin: 20px;
      text-align: center;
      width: 300px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease-in-out;
    }

    .option:hover {
      transform: scale(1.05);
      background-color: #f0f0f0;
    }

    h2 {
      margin-top: 0;
    }
    
    button {
      cursor: pointer;
      background-color: #3498db;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      transition: background-color 0.3s ease-in-out;
    }

    button:hover {
      background-color: #2980b9;
    }
  </style>